// dependencies
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@font-face {
	font-family: 'Saira';
	src: url('../fonts/Saira.ttf') format('truetype-variations');
	font-weight: 125 950;
	font-stretch: 75% 125%;
	font-style: normal;
}

// colours
$light: #edeae4;
$dark: #28282a;
$primary: #fc4e00;
$secondary: darken($light, 20);

$font-regular: 400;
$font-semibold: 600;
$font-extrabold: 800;

// utilities
.font-heading {
	font-family: 'Saira', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 200;
	// font-weight: $font-extrabold;
	// text-transform: uppercase;
	transition: font-weight .45s ease-out;

	&:hover {
		font-weight: 500;
	}
}

.font-body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: $font-regular;
}